@model LastProject403.Models.Straws

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Straws</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strawMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strawMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strawHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strawHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strawColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strawColor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.strawID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
