@model IEnumerable<LastProject403.Models.Straws>

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strawMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strawHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strawColor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strawMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strawHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strawColor)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.strawID })
        </td>
    </tr>
    }
</table>
<div class="form-group">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Place an Order", "OrderStraws", null, new { @class = "btn btn-default" })

</div>